<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        Contact List
    </h1>
    <div>
        <ul>
            <% for(let i=0;i<contact_list.length;i++){ %>
            <li class="contact">
                <div class="parent-List">
                    <p><%= contact_list[i].name %></p>
                    <p><%= contact_list[i].phone %></p>
                </div>
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%= contact_list[i]._id %>">
                        <i class="fas fa-window-close"></i>
                    </a>
                </div>
            </li>
            <% } %>
        </ul>
    </div>

    <form action="/create-contact" method="post" class="form-1">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="phone" placeholder="phone No" required>
        <button type="submit">Add</button>
    </form>

    <script src="/css/js/home.js"></script>
</body>

</html>